body {
  background: #F8FAFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 50px;
  color: #222;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 1em 1em;
  padding: 0px 5px;
  overflow: auto;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

pre code {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 8px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.1em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

button {
  float: right;
  font-size: .6em;
}

.buttons a {
  height: 16px;
  width: 16px;
  background:transparent url('../public/octocat.png') center top no-repeat;
  background-size: cover;
  display: block;
  float:left;
  margin-right: .6em;
}

.buttons a:hover {
  height: 16px;
  width: 16px;
  background:transparent url('../public/octocat-hover.png') center top no-repeat;
  background-size: cover;
  display: block;
  float:left;
}

.buttons {
  position: absolute;
  right: 0;
  float: right;
  max-height: 16px;
  margin: .6em;
}

.buttons-top {
  top: 0;
}

.buttons-bottom {
  bottom: 0;
}

button:hover {
  color: #117296;
}

.projectGrid {
  width: 45em;
  float: left;
}

.projectBox .bottomButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: .6em;
  margin: .6em;
}

.projectBox {
  position: relative;
  margin-bottom: 1.5em;
  -webkit-transition:background .7s;
  -moz-transition:background .7s;
  -o-transition:background .7s;
  transition:background .7s
}

.page {
  max-width: 67.9em;
}

.sideBar {
  float: right;
  width: 20em;
}

.contentBox {
  background: #FFF;
  display: block;
  padding: .6em;
  border: 1px solid #eee;
}

.highlighted {
  background: #C9FF67;
}
